.form-container{

    height:150vh;
    background-color: blueviolet;
}

#App-title{
    position:relative;
    left:30%;    
}


#App-title>strong{
    font-size:50px;
}

#todolist-form{
    position:absolute;
    display: flex;
    left:35%;
    top:25%;
    padding:10px;
    height:30vh;
    width:25vw;
    flex-direction: column;
    background-color: white;
    border:1px solid black;
    border-radius:5px;
   align-items: center;
}


.form-item{
  position: relative;
  margin-top: 20px;
}



.form-input{

    
    border:1px solid black;
    border-radius:2px;
    height:35px;
    width: 250px;
    
}



#form-submit{
    
    border:1px solid black;
    border-radius:10px;
    font-weight: bold;
    color:#000000;
    background-color:#009933;
    height:35px;
    width: 120px;
    top:1%;
}

.dropdown {
    position: absolute;
    display: inline-block;
    top:30px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown{
    float:left;
    left: 0%;
    top: 5px;
}

.dropdown>img{
width: 100px;
height: 50px;
}
