.itm-con{
    
    padding:5px;


}

.itm-con>button{
    margin:5px;
    border:1px solid black;
    color:#000000;
    font-weight: bold;
    border-radius:5px;
    height: 30px;
    width: 50px;
}

.delete-btn{
    background-color:#ff0000;

}


.edit-btn{
    background-color:#3333ff ;
}