
/*media query for portrait mode*/
@media (orientation:portrait) and (max-width:700px){

   
    #todolist-form{
        top:100px;
        left:10px;
        height:50%;
        width: 95%;  
    }


    #App-title{
      
        left:20%;
           
    }



    .form-input{
        left: 100px;
        
    }
    

    #App-title>strong{
        font-size: 25px;
    }
    
   .dropdown{
    top: 5px;
    left: 0%;
   }

   .dropdown>img{
       
        width: 50px;
        height: 30px;
        
        }

#form-header{
   
    left:2%;
}




}




/*media query for landscape mode*/

@media (orientation:landscape) and (min-height:200px){

    .form-container{
        height: 100vh;
        width: 120%;
        
        
    }     
    
    #todolist-form{
        top:50px;
        left:10%;
        height:60vh;
        width: 80vw;  
    }


    #App-title{
      
        left:25%;
           
    }



    .form-input{
       
        top: -50px;
    }
    

    #App-title>strong{
        font-size: 35px;
    }
    
   .dropdown{
    top: 5px;
    left:0;
   }

   .dropdown>img{
       
        width: 50px;
        height: 30px;
        
        }

#form-header{
    top:5%;
    
}

#form-submit{

    top:-5%;
   
}




}